<h4 class="page-sub-header">Encounters <small> ({{filteredConsultations.length}} items<span [hidden]="filteredConsultations?.length == consultations?.length"> - filtered</span>)</small></h4>

<div class="row">
	<div class="col-md-2">
		<span class="consultation-title">Filters</span>
		<Tree [nodes]="dateTreeData" (onActivate)="selectDate($event.node.data)" (onUpdateData)="onUpdateData()" (onInitialized)="onInitialized()">
			<template #treeNodeTemplate let-node>
				{{ node.data.title }}
			</template>
		</Tree>
	</div>
	<div class="col-md-10">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<tr>
					<th>
						<div>Consultation date</div>
						<div>Source</div>
					</th>
					<th>
						<div>Reason</div>
						<div>&nbsp;</div>
					</th>
					<th>
						<div>Provider /</div>
						<div>Location (active)</div>
					</th>
					<th>
						<div>Performed by /</div>
						<div>Referred by</div>
					</th>
					<th>
						<div>Class /</div>
						<div>Type</div>
					</th>
					<th>
						<div>Status</div>
						<div>Message</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!filteredConsultations || filteredConsultations.length == 0"><td colspan="2"><i>(no consultations)</i></td></tr>
				<tr *ngFor="let consultation of filteredConsultations" [ngClass]="{'collapsed' : !consultation.showDetail}" (click)="consultation.showDetail = !consultation.showDetail">
					<td>
						<div>{{ consultation.period.start | cuiDateTime }} &nbsp;</div>
						<div>{{ consultation.encounterSource?.text }} &nbsp;</div>
						<div *ngIf="consultation.showDetail && consultation.admitted" class="probl"><b>Admitted : </b>{{consultation.admitted | cuiDateTime}}</div>
					</td>
					<td>
						<div *ngFor="let reason of consultation.reason">
							<span class="problem-associated-text">{{ reason.text }}</span>
						</div>
					</td>
					<td>
						<div class="problem-term-significance-text">{{consultation.serviceProvider?.name}} &nbsp;</div>
						<div>{{consultation.location?.name}} <span class="fa fa-info-circle" *ngIf="consultation.location?.description" ngbTooltip="{{consultation.location?.description}}"></span>&nbsp;</div>
						<div *ngIf="consultation.showDetail && consultation.discharged"><b>Discharged : </b>{{consultation.discharged | cuiDateTime}}</div>
					</td>
					<td>
						<div class="problem-term-text">{{ consultation.performedBy?.name | cuiName }} &nbsp;</div>
						<div class="problem-term-text">{{ consultation.referredBy?.name | cuiName }} &nbsp;</div>
						<div *ngIf="consultation.showDetail && consultation.dischargeLocation"><b>Discharge To : </b>{{consultation.dischargeLocation.name}} <span class="fa fa-info-circle" *ngIf="consultation.dischargeLocation?.description" ngbTooltip="{{consultation.dischargeLocation?.description}}"></span></div>
					</td>
					<td>
						<div>{{ consultation.class_ }} &nbsp;</div>
						<div *ngIf="consultation.types && consultation.types.length == 1">
							{{ consultation.types[0].text }} <codeTermTooltip [code]="consultation.types[0]"></codeTermTooltip>
						</div>
					</td>
					<td>
						<div>{{ consultation.status }} &nbsp;</div>
						<div><span *ngIf="consultation.messageType">{{ consultation.messageType.text }} <codeTermTooltip [code]="consultation.messageType"></codeTermTooltip></span>&nbsp;</div>
						<div *ngIf="consultation.showDetail && consultation.dischargeDisposition"><b>Disposition : </b>{{consultation.dischargeDisposition.text}}<codeTermTooltip [code]="consultation.dischargeDisposition"></codeTermTooltip></div>
					</td>
					<td width="20"><i class="fa toggle-icon" aria-hidden="true"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>