<h4 class="page-sub-header">Encounters <small> ({{filteredConsultations.length}} items<span [hidden]="filteredConsultations?.length == consultations?.length"> - filtered</span>)</small></h4>

<div class="row">
	<div class="col-md-2">
		<span class="consultation-title">Date filter</span>
		<Tree [nodes]="dateTreeData" (onActivate)="selectDate($event.node.data)" (onUpdateData)="onUpdateData()" (onInitialized)="onInitialized()">
			<template #treeNodeTemplate let-node>
				{{ node.data.title }}
			</template>
		</Tree>
	</div>
	<div class="col-md-10">
		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<tr>
					<th>
						<div>Consultation date</div>
						<div>&nbsp;</div>
					</th>
					<th>
						<div>Reason</div>
						<div>&nbsp;</div>
					</th>
					<th>
						<div>Provider /</div>
						<div>Location (active)</div>
					</th>
					<th>
						<div>Performed by /</div>
						<div>Referred by</div>
					</th>
					<th>
						<div>Class /</div>
						<div>Type</div>
					</th>
					<th>
						<div>Status</div>
						<div>Source</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngIf="!filteredConsultations || filteredConsultations.length == 0"><td colspan="2"><i>(no consultations)</i></td></tr>
				<tr *ngFor="let consultation of filteredConsultations">
					<td>{{ consultation.period.start | cuiDateTime }}</td>
					<td>
						<div *ngFor="let reason of consultation.reason">
							<span class="problem-associated-text">{{ reason.text }}</span>
						</div>
					</td>
					<td>
						<div class="problem-term-significance-text">{{consultation.serviceProvider?.name}} &nbsp;</div>
						<div>{{consultation.location?.name}} <span class="fa fa-info-circle" *ngIf="consultation.location?.description" ngbTooltip="{{consultation.location?.description}}"></span></div>
					</td>
					<td>
						<div class="problem-term-text">{{ consultation.performedBy?.name | cuiName }} &nbsp;</div>
						<div class="problem-term-text">{{ consultation.referredBy?.name | cuiName }}</div>
					</td>
					<td>
						<div>
							{{ consultation.class_ }} &nbsp;
						</div>
						<div *ngIf="consultation.types && consultation.types.length == 1">
							{{ consultation.types[0].text }} <codeTermTooltip [code]="consultation.types[0]"></codeTermTooltip>
						</div>
					</td>
					<td>
						<div>{{ consultation.status }} &nbsp;</div>
						<div *ngIf="consultation.encounterSource">
							{{ consultation.encounterSource.text }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>