<div class="modal-header">
    <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Patient Demographics</h4>
</div>
<div class="modal-body"> <!-- (keydown)="keydown($event)"> -->

    <div class="container-fluid">

        <form id="patient-find-search-criteria">
            <div class="form-group col-md-7">
							<div class="row">
							<label class="control-label col-md-4">Name: </label>
								<div class="col-md-8" *ngIf="!person.showNames" (click)="person.showNames = !person.showNames">
									{{person.name | cuiName}} <span class="fa fa-chevron-circle-down pull-right" *ngIf="person.otherNames.length > 1"></span>
								</div>
								<div class="col-md-8" *ngIf="person.showNames" (click)="person.showNames = !person.showNames">
									<span class="fa fa-chevron-circle-up pull-right" *ngIf="person.otherNames.length > 1"></span>
									<div *ngFor="let name of person.otherNames">{{name | cuiName}} <span class="small text-muted">({{name.use}})</span></div>
								</div>
							</div>
							<div class="row">
							<label class="control-label col-md-4">NHS No: </label>
							<div class="col-md-8">{{person.nhsNumber | cuiNhsNumber}}</div>
							</div>
							<div class="row">
								<label class="control-label col-md-4">Managing Org: </label>
								<div class="col-md-8">{{person.managingOrganisation?.name}}</div>
							</div>
							<div class="row">
								<label class="control-label col-md-4">Local IDs: </label>
								<div class="col-md-8">{{getLocalIdsAsCSV()}}</div>
							</div>
							<div class="row">
							<label class="control-label col-md-4">Address: </label>
							<div class="col-md-8">
								<div *ngIf="person.homeAddress.use"><b>{{person.homeAddress.use}}</b></div>
								<div *ngIf="person.homeAddress.line1">{{person.homeAddress.line1}}</div>
								<div *ngIf="person.homeAddress.line2">{{person.homeAddress.line2}}</div>
								<div *ngIf="person.homeAddress.line3">{{person.homeAddress.line3}}</div>
								<div *ngIf="person.homeAddress.city">{{person.homeAddress.city}}</div>
								<div *ngIf="person.homeAddress.district">{{person.homeAddress.district}}</div>
								<div *ngIf="person.homeAddress.postalCode">{{person.homeAddress.postalCode}}</div>
								<div *ngIf="person.homeAddress.country">{{person.homeAddress.country}}</div>
							</div>
							</div>
							<div class="row" *ngIf="usualGP">
								<label class="control-label col-md-4">Usual GP: </label>
								<div class="col-md-8">{{usualGP?.name | cuiName}} <span *ngIf="usualGP.gpCode"> ({{usualGP.gpCode}})</span></div>
							</div>
							<div class="row" *ngIf="usualGPPractice">
								<label class="control-label col-md-4">GP Practice: </label>
								<div class="col-md-8">
									<div *ngIf="usualGPPractice.name">{{usualGPPractice.name}} <span *ngIf="usualGPPractice.odsCode"> ({{usualGPPractice.odsCode}})</span> </div>
									<div *ngIf="usualGPPractice.address.use"><b>{{usualGPPractice.address.use}}</b></div>
									<div *ngIf="usualGPPractice.address.line1">{{usualGPPractice.address.line1}}</div>
									<div *ngIf="usualGPPractice.address.line2">{{usualGPPractice.address.line2}}</div>
									<div *ngIf="usualGPPractice.address.line3">{{usualGPPractice.address.line3}}</div>
									<div *ngIf="usualGPPractice.address.city">{{usualGPPractice.address.city}}</div>
									<div *ngIf="usualGPPractice.address.district">{{usualGPPractice.address.district}}</div>
									<div *ngIf="usualGPPractice.address.postalCode">{{usualGPPractice.address.postalCode}}</div>
									<div *ngIf="usualGPPractice.address.country">{{usualGPPractice.address.country}}</div>
								</div>
							</div>
            </div>

					<div class="form-group col-md-5">
						<div class="row">
						<label class="control-label col-md-3">Born: </label>
						<div class="col-md-9">{{person.dateOfBirth | cuiDateOfBirth}}</div>
						</div>
						<div class="row">
							<label class="control-label col-md-3">Died: </label>
							<div class="col-md-9" *ngIf="person.dateOfDeath">{{person.dateOfDeath | cuiDateOfBirth}}</div>
						</div>
						<div class="row">
						<label class="control-label col-md-3">Gender: </label>
						<div class="col-md-9">{{person.gender | cuiGender}}</div>
						</div>
						<div class="row">
							<label class="control-label col-md-3">Marital: </label>
							<div class="col-md-9">{{person.maritalStatus.text}} <codeTermTooltip [code]="person.maritalStatus"></codeTermTooltip></div>
						</div>
						<div class="row">
							<label class="control-label col-md-3">Ethnicity: </label>
							<div class="col-md-9">{{person.ethnicity.text}} <codeTermTooltip [code]="person.ethnicity"></codeTermTooltip></div>
						</div>
						<div class="row">
							<label class="control-label col-md-3">Religion: </label>
							<div class="col-md-9">{{person.religion.text}} <codeTermTooltip [code]="person.religion"></codeTermTooltip></div>
						</div>
						<div class="row">
						<label class="control-label col-md-3">Language: </label>
						<div class="col-md-9">{{person.language.text}} <codeTermTooltip [code]="person.language"></codeTermTooltip></div>
					</div>
						<div class="row">
							<label class="control-label col-md-3">Telecoms: </label>
							<div class="col-md-9">
								<div *ngFor="let telecom of person.telecoms">{{telecom.use}} {{ telecom.system }} {{ telecom.value }}</div>
							</div>
						</div>
					</div>

					<label class="col-md-12">Contact(s):</label>
					<div class="form-group col-md-12" *ngFor="let contact of person.contacts">
						<div class="row">
							<div class="col-md-3">{{contact.name | cuiName}}</div>
							<div class="col-md-3">{{contact.dateOfBirth | cuiDateOfBirth}}</div>
							<div class="col-md-3">{{formatRelationships(contact.relationships)}}</div>
							<div class="col-md-3">
								<div *ngIf="!contact.homeAddress.show" (click)="contact.homeAddress.show = true">(Address)<span class="fa fa-chevron-circle-down pull-right"></span></div>
								<div *ngIf="contact.homeAddress.show" (click)="contact.homeAddress.show = false">
									<div class="fa fa-chevron-circle-up pull-right"></div>
									<div *ngIf="contact.homeAddress.use"><b>{{contact.homeAddress.use}}</b></div>
									<div *ngIf="contact.homeAddress.line1">{{contact.homeAddress.line1}}</div>
									<div *ngIf="contact.homeAddress.line2">{{contact.homeAddress.line2}}</div>
									<div *ngIf="contact.homeAddress.line3">{{contact.homeAddress.line3}}</div>
									<div *ngIf="contact.homeAddress.city">{{contact.homeAddress.city}}</div>
									<div *ngIf="contact.homeAddress.district">{{contact.homeAddress.district}}</div>
									<div *ngIf="contact.homeAddress.postalCode">{{contact.homeAddress.postalCode}}</div>
									<div *ngIf="contact.homeAddress.country">{{contact.homeAddress.country}}</div>
								</div>
							</div>
						</div>
					</div>

				</form>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn bnt-default" (click)="ok()">Close</button>
</div>
