<div class="row">
	<div class="col-md-12">

		<h4 class="page-sub-header">Test Requests <small> ({{testRequests?.length}} items)</small></h4>

		<table class="table table-condensed table-striped table-hover table-selectable clinical-items-table">
			<thead>
				<th>Date</th>
				<th>Term</th>
				<th>Latest Status</th>
			</thead>
			<tbody>
				<tr *ngIf="!testRequests || testRequests.length == 0"><td colspan="2"><i>(no test requests)</i></td></tr>
				<tr *ngFor="let testRequest of testRequests">
					<td>{{testRequest.effectiveDate | cuiDate}}</td>
					<td>
						<codeTooltip [code]="testRequest.code"></codeTooltip>
						<span class="problem-term-text">{{testRequest.code.text}}</span>
					</td>
					<td>
						{{testRequest.status?.status}} <span *ngIf="testRequest.status?.date">({{testRequest.status.date | cuiDate}})</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
